Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -misc-include-cleaner,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src|tests)/'
FormatStyle: file
